#page-container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

#page-header {
    grid-row: 1;
    text-align: center;
    font-weight: 30;
    font-size: 52px;
}

#contact-row-container {
    grid-row: 2;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-boxes-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#email-address-container {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#email-address-pill {
    width: fit-content;
    height: fit-content;
    background-color:  #1DA1F2;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 30;
    font-size: 18px;
    color: white;
    transition: box-shadow 0.5s;
}

#email-address-pill:hover {
    box-shadow: 3px 3px 3px 3px lightgray;
}

.contact-box {
    height: 400px;
    width: 400px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: box-shadow 0.5s;
}

.contact-box-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact-box:hover {
    box-shadow: 4px 4px 3px 6px lightgray;
}

.contact-box-icon {
    height: 200px;
    width: 200px;
}

a {
    text-decoration: none;
}

@media(max-width: 1280px) {
    .contact-box {
        height: 300px;
        width: 300px;
    }
} 

@media(max-width: 1000px) {
    .contact-box {
        height: 230px;
        width: 230px;
    }
} 

@media(max-width: 768px) {
    #contact-boxes-container {
        flex-direction: column;
    }

    .contact-box {
        height: 200px;
        width: 200px;
    }
} 